# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
Icon

# Shell Scripts
*.sh

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created by macOS
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Editor/IDE Specific (VS Code)
.vscode/
*.code-workspace

# Local testing or Node artifacts (if you ever use them)
node_modules/
.npm
package-lock.json
